//как работает bootstrap3
.container{
  padding-left: 15px;
  padding-right: 15px;
}
//если не сдвинуть row - то она будет начинаться на 15px после контейнера - контейнер это 0 копия col-*.
//внутри колонок везде отступ по 15px и чтоб row рисовала col вложенных колонках без никаких сдвигов надо использовать эту штуку
//таким образом внутри вложенных гридов не будет отступа у первой и последней вложенной колонки - тоесть начало и конец будут на том же месте
//что и у родителя - row будет начинаться с начала родителя а не с начала после padding родителя
//и первый с последним padding будет визуально совпадать с padding самого родителя
.row{
  margin-right: -15px;
  margin-left: -15px;
}
[class*=col]{
  padding-left: 15px;
  padding-right: 15px; // - прикол в том что такая хуйня у каждой колонки и у первой с последней тоже
}
//в результате работы таких правил - между колонками будет отступ в 30px а первая и последняя колонка будут визуально находится там же где



/*--------------------*\
    #Grid
\*--------------------*/

$cols : 3;
$margin : 5;
@for $i from 1 through $cols {
  $width : 100-($cols - $i)*((100-$margin*($cols - 1))/$cols)-$margin*($cols - $i);

  //колонки
  .col--#{$i}-#{$cols} {
    width: #{$width + '%'};
  }

  //модификатор для отступа
  @if $i < $cols{
    .col--offset-#{$i}-#{$cols} {
      margin-left: #{$width + $margin + "%"};
    }
  }

  //модификатор сдвига справа
  @if $i < $cols{
    .col--pull-#{$i}-#{$cols} {
      right: #{$width + $margin + "%"};
    }
  }

  //модификатор сдвига слева
  @if $i < $cols{
    .col--push-#{$i}-#{$cols} {
      left: #{$width + $margin + "%"};
    }
  }
}