.toggleZone{
    position: relative
}

.togglable {
    /*color: #D78770;*/
    cursor: pointer;
    color: black;
    position: absolute;
    left: 8px;
    top: 8px;
    transform: rotate(-90deg);
    transition: transform 0.05s linear;
}

.opened{
    transform: rotate(0deg);
}

/*.togglable-down::after,*/
/*.togglable-up::after {*/
    /*font-size: 8px;*/
    /*margin-left: 0.5em;*/
/*}*/

/*.togglable-down::after {*/
    /*content: "▼";*/
    /*display: inline-block;*/
/*}*/

/*.togglable-up::after {*/
    /*content: "▶";*/
    /*display: inline-block;*/
/*}*/